
@model List<Lugar>

    <a asp-action="Index" asp-controller="Home"><img class="btnVolver" src="~/return_icon_154912.png" alt="100px"></a>
    <center><h2 class="titulo-principal">Lugares de los eventos</h2></center>
    <a asp-action="Create"><label>Ingresar nueva dirección</label></a>
    <br>
    <hr>
    <table class="table categoria">
        <tr class="t-categoria">
            <th>Id</th>
            <th>Nombre dirección</th>
            <th colspan="2"></th>
        </tr>
        @foreach (var item in Model)
    {
        <tr>
            <td class="elementos">@item.Id</td>
            <td class="elementos">@item.Direccion</td>
            <td><a asp-action="Edit" asp-route-id="@item.Id"><img src="~/edit_icon_128873.png" alt="200px"></a></td>
            <td><a asp-action="Delete" asp-route-id="@item.Id"><img src="~/seo-social-web-network-internet_322_icon-icons.com_61532.png" alt="200px"></a></td>
        </tr>   
    }
    </table>