#main-header {
    z-index: 10;
    position: relative;
    background: linear-gradient(to right, rgb(238, 83, 0), rgb(145, 62, 197), rgb(19, 128, 108));
    padding: 0.5em;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;
}
.header-img-titulo {
    width: 5em;
}
#main-header-buttons {
    display: inline;
    float: right;
}
#main-header-buttons #button-administracion {
    display: inline;
    height: 45px;
    width: 250px;
    font-size: 1em;
    border-radius: 120px;
}


.dropdown-center {
    display: inline;
}
.dropdown-center .dropdown-menu li .dropdown-item {
    text-align: center;
}

.dropdown-center a .dropdown-menu li .boton-cerrar-sesion i {
    font-size: 0.8em;
}

.dropdown-center .dropdown-menu-dark {
    background-color: #1f7a75;
}

#main-header-buttons .dropdown-center .dropdown-toggle::after {
    display: none;
}
#main-header-buttons .dropdown-center {
    height: 45px;
    min-height: 45px;
    max-height: 45px;
}

#main-header-buttons > button,
#main-header-buttons .dropdown-center > button,
#boton-nav{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-style: none;
    background-color: rgba(49, 47, 61, 0.396);
    color: white;
}
#main-header-buttons > button:active,
#main-header-buttons .dropdown-center > button:active,
#boton-nav:active{
    background-color: rgba(228, 226, 243, 0.6);
}
#main-footer {
    background-color: rgb(67, 64, 82);
    padding: 0.5em;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.5em;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: white;
}