@{
    ViewData["Title"] = "INCIO" ;
    ViewData["Nav"] = "ADMINISTRACIÓN";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool soporte = false;
    foreach(var claim in User.Claims)
    {
        if(claim.Value == "2")
        {
            soporte = true;
        }
    }
}
<link rel="stylesheet" href="~/css/Administración/Cards.css">

     <div class="container-card row mb-2">
                <div class="card col-12 col-md-3">
                    <div class="contenido-card">
                        <i class="bi bi-person-fill m-1" style="font-size: 5rem; color: black"></i>
                        <h5>Usuarios</h5>
                        <p>Puedes ver Usuarios del sistema.</p>
                        <a asp-action="FreeAndPremium" asp-controller="Usuarios" class="btn btn-outline-primary col-12">Ir</a>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="contenido-card">
                        <i class="bi bi-people-fill m-1" style="font-size: 5rem; color: black"></i>
                        <h5>Administradores</h5>
                       <p>Gestor de Administradores del sistema.</p>
                        <a asp-action="Administración" asp-controller="Usuarios" class="btn btn-outline-primary col-12">ir</a>
                    </div>
                </div>
                @if (soporte==true)
                {
                    <div class="card col-12 col-md-3">
                        <div class="contenido-card">
                            <i class="bi bi-people-fill m-1" style="font-size: 5rem; color: black"></i>
                            <h5>Soporte</h5>
                            <p>Gestor de usuarios Soporte del sistema.</p>
                            <a asp-action="Soporte" asp-controller="Usuarios" class="btn btn-outline-primary col-12">ir</a>
                        </div>
                    </div>
                }
                <div class="card col-12 col-md-3">

                    <div class="contenido-card">
                        <i class="bi bi-clock-fill m-1" style="font-size: 5rem; color: black"></i>
                        <h5>Pendientes</h5>
                       <p>Puedes Rechazar o Aceptar Eventos.</p>
                        <a asp-action="Pendientes" asp-controller="Eventos" class="btn btn-outline-primary col-12">ir</a>
                    </div>
                </div>
                <div class="card col-12 col-md-3">

                    <div class="contenido-card">
                        <i class="bi bi-bookmark-check-fill m-1" style="font-size: 5rem; color: black"></i>
                        <h5>Aceptados</h5>
                        <p>Puedes ver los eventos Aceptados.</p>
                        <a asp-action="Aceptados" asp-controller="Eventos" class="btn btn-outline-primary col-12">ir</a>
                    </div>
                </div>

                <div class="card col-12 col-md-3">

                    <div class="contenido-card">
                        <i class="bi bi-bookmarks-fill m-1" style="font-size: 5rem; color: black"></i>
                        <h5>Eventos</h5>
                        <p>Puedes ver los eventos Aceptados/Rechazados.</p>
                        <a asp-action="Index" asp-controller="Eventos" class="btn btn-outline-primary col-12">ir</a>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="contenido-card">
                        <i class="bi bi-geo-alt-fill m-1" style="font-size: 5rem; color: black"></i>
                        <h5>Categorías</h5>
                        <p>Puedes agregar y gestionar Categorías.</p>
                        <a asp-action="Index" asp-controller="Categoria" class="btn btn-outline-primary col-12">ir</a>
                    </div>
                </div>
       </div>