@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center>
<a asp-action="Index" asp-controller="Categoria">
<div class="cuadro-tabla">
    <center><h3>Categorías</h3></center>
    <br/>
    <small>Presiona aquí para gestionar las categorías de los eventos</small>
</div>
</a>
<a asp-action="Index" asp-controller="Lugar">
<div class="cuadro-tabla">
    <center><h3>Lugares</h3></center>
    <br/>
    <small>Presiona aquí para gestionar los lugares de los eventos</small>
</div>
</a>
<a asp-action="Index" asp-controller="Estado">
<div class="cuadro-tabla">
    <center><h3>Estados de eventos</h3></center>
    <br/>
    <small>Presiona aquí para gestionar el estado de los eventos</small>
</div>
</a>
<a asp-action="Index" asp-controller="Usuario">
<div class="cuadro-tabla">
    <center><h3>Usuarios</h3></center>
    <br/>
    <small>Presiona aquí para gestionar las cuentas de los usuarios</small>
</div>
</a>
<a asp-action="Index" asp-controller="Evento">
<div class="cuadro-tabla">
    <center><h3>Usuarios</h3></center>
    <br/>
    <small>Presiona aquí para gestionar las cuentas de los usuarios</small>
</div>
</a>
</center>