@model UsuarioRegistroViewModel

@{
    ViewData["Title"] = "CREAR USUARIO";
    ViewData["Nav"] = "NUEVO USUARIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/datosRegistro.css" />

        <div id="main-container-registro">
            <div id="form-container">
                <form asp-action="Create">
                    <h1>MeApunto</h1>
                    <label for="txtNombre">Nombre</label>
                    <input asp-for="Nombres" type="text" class="form-control" placeholder="Nombre">

                    <label for="txtApellido">Apellido</label>
                    <input asp-for="Apellidos" type="text" class="form-control" placeholder="Apellido">

                    <label for="txtRut">Rut</label>
                    <input asp-for="Rut" type="text" class="form-control" placeholder="Rut">

                    <label for="txtFechaNacimiento">Edad</label>
                    <input asp-for="Edad"  type="text" class="form-control">

                    <label for="txtCorreo">Email</label>
                    <input asp-for="Correo" type="email" class="form-control" placeholder="Email">

                    <label for="txtOrganizacion">Organizacion</label>
                    <input asp-for="Organizacion" type="text" class="form-control" placeholder="Organización">

                    <label for="txtTelefono">Telefono</label>
                    <input asp-for="Telefono" type="text" class="form-control" placeholder="Telefono">

                    <label for="txtNombreUsuario">Nombre de Usuario</label>
                    <input asp-for="NombreUsuario" type="text" class="form-control" placeholder="Nombre de Usuario">

                    <label for="txtContraseña">Contraseña</label>
                    <input asp-for="Contrasena" type="password" class="form-control" placeholder="Contraseña">
                    <span asp-validation-for="Nombres" class="text-danger"></span>

                    <button type="submit" class="btn btn-primary boton-form">Registrarse</button>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>