@model UsuarioRegistroViewModel

@{
    ViewData["Title"] = "CREAR USUARIO";
    ViewData["Nav"] = "NUEVO USUARIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/datosRegistro.css" />

        <div id="main-container-registro">
            <div id="form-container">
                <form asp-action="CreateAdmin">

                    <input asp-for="Nombres" type="text" class="form-control" placeholder="Nombre" autocomplete="off">

                    <input asp-for="Apellidos" type="text" class="form-control" placeholder="Apellido" autocomplete="off">

                    <input asp-for="Rut" type="text" class="form-control" placeholder="Rut" autocomplete="off">

                    <input asp-for="Edad"  type="text" class="form-control" placeholder="Edad" autocomplete="off">

                    <input asp-for="Correo" type="email" class="form-control" placeholder="Email" autocomplete="off">

                    <input asp-for="Telefono" type="text" class="form-control" placeholder="Telefono" autocomplete="off">

                    <input asp-for="NombreUsuario" type="text" class="form-control" placeholder="Nombre de Usuario" autocomplete="off">

                    <input asp-for="Contrasena" type="password" class="form-control" placeholder="Contraseña" autocomplete="off">

                    <input type="submit" class="btn btn-outline-primary " value="Registrar usuario">
                </form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>