@model Categoria


    <div class="form">
        <a asp-action="Index" asp-controller="Home"><img class="btnVolver" src="~/return_icon_154912.png" alt="100px"></a>
        <form asp-action="Add" method="post">
            <div class="table form">
                <input class="form-text" asp-for="categoria" placeholder="Nombre de la categoría"/>
                <input class="form-button" type="submit" value="Crear categoría"/>
            </div>
        </form>
    </div>
