
@model List<Categoria>

    <a asp-action="Index" asp-controller="Home"><img class="btnVolver" src="~/return_icon_154912.png" alt="100px"></a>
   
    <div class="container">

  <a asp-action="Add" class="btn btn-outline-primary col-2"><i class="bi bi-person-plus-fill"> Crear Lugar</i></a>
      <br>
      
<br>
  <table class="table table-hover table-bordered" style="color: black;">
  
    <thead>
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Opera</td>
        <td><a href="#"><i class="bi bi-file-earmark-text-fill btn"> Ver Detalle</i></a></td>
      </tr>
      <tr>
        <td>Taller de Danza</td>
        <td><a href="#"><i class="bi bi-file-earmark-text-fill btn"> Ver Detalle</i></a></td>
      </tr>
      <tr>
        <td>Piano</td>
        <td><a href="#"><i class="bi bi-file-earmark-text-fill btn"> Ver Detalle</i></a></td>
      </tr>
      <tr>
        <td>Cueca</td>
        <td><a href="#"><i class="bi bi-file-earmark-text-fill btn"> Ver Detalle</i></a></td>
      </tr>
      <tr>
        <td>Clases de Canto</td>
        <td><a href="#"><i class="bi bi-file-earmark-text-fill btn"> Ver Detalle</i></a></td>
      </tr>
      <tr>
        <td>Ajedrez</td>
        <td><a href="#"><i class="bi bi-file-earmark-text-fill btn"> Ver Detalle</i></a></td>
      </tr>
    </tbody>
  </table>
</div>
      
<br>
<br>
<br>
