@model LoginViewModel
@{
    ViewData["Title"] = "LOG IN";
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/General/iniciarSesion.css" />
    <title>@ViewData["Title"]</title>
</head>

<body id="body-iniciar-sesion" style="height: 100vh;" class="d-flex align-items-center">
    <br />
    <div id="main-container-sesion">
        <div id="form-container">
            <form asp-action="Login">

                <!-- Botón para volver -->
                <div class="d-flex justify-content-center" style="width: 100%;">
                    <a asp-action="Index" asp-controller="Home"><img src="~/img/Logo.png" style="width: 150px; margin-bottom: 30px;"/></a>
                </div>

                <h1 style="text-transform: uppercase; color: #444;">Iniciar sesión</h1>
                <br>
                <label>Usuario</label>
                <input asp-for="Username" type="text" class="form-control" placeholder="Ingrese nombre de usuario" autocomplete="off">
                <span asp-validation-for="Username" class="text-danger"></span>
                <br>
                <label>Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Ingrese su contraseña" autocomplete="off">
                <span asp-validation-for="Password" class="text-danger"></span>
                <br>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br>
                <button type="submit" class="btn btn-primary boton-form" style="margin-bottom:6px">Ingresar</button>
                <a asp-action="Create" asp-controller="Usuarios"><button type="button" class="btn btn-outline-primary boton-form">Registrarse</button></a>
                <br>
                <div class="d-flex justify-content-center" style="margin-top: 10px ;">
                <h5 h5 style="font-size:1em;"> Olvidaste tu contraseña? haz click <a asp-action="Recuperar" asp-controller="Usuarios"><i>aquí</i></a></h5>
                </div>
            </form>
        </div>
    </div>
</body>

</html>