/* Elementos de cada página */
html {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-image: url('assets/fondo.jpg');
}

header {
    margin: 0px;
    text-align: center;
    font-size: 25px;
    margin-top: 2%
}

img {
    padding: 0px;
    margin: 0px;
    zoom: 0.08;
    position: center;
    filter: drop-shadow(8px 8px 10px gray);
}
div {
    margin: 0px;
    padding: 0px;
}

span {
    margin: 0px;
    padding: 0px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
form {
    width: 100%;
    text-align: center;
    height: 100%;
}

    form input {
        width: 30%;
        height: 40px;
        margin: 5%;
        display: inline-block;
    }



/* Index de la carpeta HOME (clases e IDs)*/
.perfil {
    height:150px;
    text-align: center;
    display: block;
    left: 20px;
    width:15%;
}
.img-perfil{
    margin:50px;
    margin-left: 1%;
    border-radius:25%;
}
form input .form-button {
    background-color: black;
}

.cuentaCreada {
    margin: 0px;
    padding: 5px;
}
#filtrar{
    border:0;
    font-size: 15px;
}
#ordenar {
    border: 0;
    font-size: 15px;
}
.crearCuenta {
    margin: 0px;
    margin-bottom: 30px;
    padding: 5px;
}
.notificaciones::-webkit-scrollbar {
    width: 20px; /* width of the entire scrollbar */
}
.notificaciones::-webkit-scrollbar-track {
    background: blue; /* color of the tracking area */
    margin-right: 5px;
    border-radius: 10px;
}
.notificaciones::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 10px;
    border: 3px solid black;
}
.notification-01 {
    border-color: blue;
    margin: 10px;
    text-align: left;
    border-bottom: groove;
    border-right: groove;
    border-radius: 2%;
    width: auto;
    height: 10%;
}
.identification {
    margin-left: 20px;
    text-align: right;
}
.detalles {
    margin: 10px;
}
a {
    list-style: none;
    color: black;
    text-decoration: none;
}
    a :hover {
        list-style: none;
        text-decoration: solid;
        color: blue;
    }
.table {
    margin: auto;
    position: relative;
    text-align: center;
    width: 80%;
    border-color: rgb(77, 101, 180);
    border-style: inset;
    box-shadow: 10px 5px 10px 2px rgb(77, 101, 180);
}
.btnVolver {
    width: 800px;
    position: relative;
    margin: 0.5% 5%;
    text-align: center;
    background: transparent;
}

a .hovers:hover ~ td {
    border-bottom: 5px dotted rgb(73, 80, 190);
}

.dropdown {
    position: relative;
    display: inline-block;
    bottom:80px;
    zoom:80%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px 16px 12px;
    z-index: 1;
    margin: 0px;
    padding: 0;
}
.titulo-notificaciones{
    text-align:center;
}
.show {
    display: block;
}
.notificaciones {
    animation-name: aparecer;
    animation-duration: 5s;
}
@keyframes aparecer{
    0% {zoom:0%;}
    100% {zoom:100%;}
}
.cuadro-tabla {
    font-size: 18px;
    text-align:center;
    height: 150px;
    width: 300px;
    margin-bottom: 200px;
    display: inline-block;
    margin:40px;
}
footer {
    color: white;
    min-height: 70px;
    background-color: #23AA95;
    border-top: 1px solid #23AA95;
    width: 100%;
    position: fixed;
    bottom: 0;
}
:root {
    --card-color: rgba(54, 0, 204, 0.555);
    --card-header-color: #23AA95;
    --card-body-color: #2FDFC4;
    --card-footer-color: #23AA95;
}
.card {
    margin: 30px;
    background: var(--card-color);
    color: rgb(255, 255, 255);
    width: 300px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px;
    display: inline-block;
    text-align:center;
}
.cards-events {
    zoom:80%;
    width: 80%;
    height:500px;
    overflow:hidden scroll;
    text-align: left;
}
.card-header {
    background: var(--card-header-color);
    margin: -20px;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}
.card-body {
    background: var(--card-body-color);
    margin: -20px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
}
.card-footer {
    background: var(--card-footer-color);
    margin: -20px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
    display: flex;
}
a {
    padding: 8px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}
    a:hover {
        color: var(--card-body-color);
        background: white;
    }