<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="5" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ME APUNTO!</title>
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>Me Apunto!</header>
            <br>
            @RenderBody()
            <br>
    <center><footer>Sistema Me Apunto!</footer></center>
</body>
</html>