@model Evento
@{
    ViewData["Title"] = "CREAR EVENTO";
    ViewData["Nav"] = "Crear Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/crearEvento.css" />
<div id="main-container-evento">
        <div id="form-container">
            <form action="Create" method="post">
                <label>Título del Evento</label>
                <input asp-for="Titulo" class="form-control" placeholder="Titulo">
                <label>Fecha a realizarse</label>
                <input asp-for="Fecha_evento" type="date" class="form-control" placeholder="Fecha">
                <div class="row">
                  <div class="col-12 col-md-6">
                        <label>Hora de Inicio</label>
                        <input asp-for="Hora_inicio" name="txtHoraInicio" type="time" class="form-control">
                  </div>
                  <div class="col-12 col-md-6">
                        <label>Hora de Término</label>
                        <input asp-for="Hora_termino"name="txtHoraTermino" type="time" class="form-control">
                  </div>
                </div>

                <label for="txtDireccion">Dirección</label>
                <input name="txtDireccion" type="text" class="form-control" placeholder="Direccion">
                <label>Categoría</label>
                <select asp-for="CategoriaId" class="form-select" asp-items="ViewBag.CategoriaId"></select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                <label for="txtDescripcion">Descripción</label>
                <textarea asp-for="Descripcion" name="txtDescripcion" class="form-control" rows="3"></textarea>
                <button type="submit" class="btn btn-primary boton-form">Crear</button>
            </form>
        </div>
</div>
   
    