@model EventoViewModel
@{
    ViewData["Title"] = "CREAR EVENTO";
    ViewData["Nav"] = "Crear Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div id="main-container-evento" style="width : 100%; ">
    <div id="form-container" style="width : 100%; ">

    <section class="d-flex justify-content-center align-items-center">
    <div class="card shadow col-xs-20 col-sm-12 col-md-6 col-lg-8   p-4"> 
        <form asp-action="Create" method="post">
            <label>Título del Evento</label>
            <input asp-for="Titulo" type="text" class="form-control" placeholder="Titulo" autocomplete="off" required>
         
            <div class="row">
                <div class="col col-md-6">
                    <label>Fecha a realizarse</label>
                    <input asp-for="Fecha_evento" type="date" class="form-control" placeholder="Fecha" required>
                </div>
                <div class="col-12 col-md-3">
                    <label>Hora de Inicio</label>
                    <input asp-for="Hora_inicio" type="time" class="form-control" required>
                </div>
                <div class="col-12 col-md-3">
                    <label >Hora de Término</label>
                    <input asp-for="Hora_termino" type="time" class="form-control" required>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 col-md-3">
                    <label for="Direccion">Comuna:</label>
                    <select class="form-select" asp-for="Comuna" class="form-select">
                        <option value="CAUQUENES">Cauquenes</option>
                        <option value="CHANCO">Chanco</option>
                        <option value="COLBÚN">Colbún</option>
                        <option value="CONSTITUCIÓN">Constitución</option>
                        <option value="CUREPTO">Curepto</option>
                        <option value="CURICÓ">Curicó</option>
                        <option value="EMPEDRADO">Empedrado</option>
                        <option value="HUALAÑÉ">Hualañé</option>
                        <option value="LICANTÉN">Licanten</option>
                        <option value="LINARES">Linares</option>
                        <option value="LONGAVÍ">Longaví</option>
                        <option value="MAULE">Maule</option>
                        <option value="MOLINA">Molina</option>
                        <option value="PARRAL">Parral</option>
                        <option value="PELARCO">Pelarco</option>
                        <option value="PELLUHUE">Pelluhue</option>
                        <option value="PENCAHUE">Pencahue</option>
                        <option value="RAUCO">Rauco</option>
                        <option value="RETIRO">Retiro</option>
                        <option value="RÍO CLARO">Río Claro</option>
                        <option value="ROMERAL">Romeral</option>
                        <option value="SAGRADA FAMILIA">Sagrada Familia</option>
                        <option value="SAN CLEMENTE">San Clemente</option>
                        <option value="SAN JAVIER">San Javier</option>
                        <option value="SAN RAFAEL">San Rafael</option>
                        <option value="TALCA">Talca</option>
                        <option value="TENO">Teno</option>
                        <option value="VICHUQUÉN">Vichuquén</option>
                        <option value="VILLA ALEGRE">Villa Alegre</option>
                        <option value="YERBAS BUENAS">Yerbas Buenas</option>
                    </select>
                </div>
                <div class="col-12 col-md-7">
                        <label for="Direccion">Dirección:</label>
                        <input type="text" class="form-control" asp-for="Direccion" autocomplete="off" required>
                </div>
                <div class="col-12 col-md-2">
                    <label for="Numero">Número:</label>
                    <input type="number" class="form-control" value="0" asp-for="Numero" autocomplete="off" required>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-12 col-md-4">
                    <label>Categoría:</label>
                    <select asp-for="CategoriaId" class="form-select" asp-items="ViewBag.CategoriaId"></select>
                </div>
            </div>
            <label for="txtDescripcion">Descripción: </label>
            <textarea asp-for="Descripcion" class="form-control" rows="3" autocomplete="off"></textarea>
            
               <br />
                <div class="d-flex justify-content-center">
            <input type="submit" id="btn-crear-evento" class="btn btn-primary boton-form" value="Crear"/>
            </div>
        </form>
    </div>
</section>
 </div>

</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
   
    