
    <header id="main-header">
        Me Apunto!
        <div id="main-header-buttons">
            <button><i class="material-icons">person</i></button>
            <button><i class="material-icons">notifications</i></button>
        </div>
    </header>
    <div id="main-container">
        <aside id="main-menu2">
            <div>
                <button id="calendario-button">Calendario</button>
            </div>
            <div>
                <button id="ver-eventos-button">Mis Eventos</button>
            </div>

            <div>
                <button id="crear-evento-button">Crear nuevo <br> evento <br><i class="material-icons">add</i></button>
            </div>
        </aside>
        <div id="main-content">
            <div class="my-event">
                    <div class="my-event-imagen">
                        <img src="https://tvline.com/wp-content/uploads/2022/04/halo-1x03-makee.jpg?w=300"/>
                    </div>

                    <div class="my-event-content">
                        <h2>HOLA BABY</h2>
                        <div>17/06/22 en Curicó</div>
                        <div><small>FAMILIAR</small></div>
                    </div>
                    <div class="my-event-estado">
                        <span class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                            PUBLICADO
                        </span>
                    </div>
                    <div class="my-event-boton">
                        <button type="button" class="btn my-btn-action"><i class="material-icons">info</i></button>
                        <button type="button" class="btn my-btn-action"><i class="material-icons" disabled>edit</i></button>
                        <button type="button" class="btn my-btn-action"><i class="material-icons">delete</i></button>
                        
                    </div>
            </div>
            <div class="my-event">
                <div class="my-event-imagen">
                    <img src="https://tvline.com/wp-content/uploads/2022/04/halo-1x03-makee.jpg?w=300"/>
                </div>

                <div class="my-event-content">
                    <h2>HOLA BABY</h2>
                    <div>17/06/22 en Curicó</div>
                    <div><small>FAMILIAR</small></div>
                </div>
                <div class="my-event-estado">
                    <span class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                        PUBLICADO
                    </span>
                </div>
                <div class="my-event-boton">
                    <button type="button" class="btn my-btn-action"><i class="material-icons">info</i></button>
                    <button type="button" class="btn my-btn-action"><i class="material-icons" disabled>edit</i></button>
                    <button type="button" class="btn my-btn-action"><i class="material-icons">delete</i></button>
                    
                </div>
            </div>
            <div class="my-event">
                <div class="my-event-imagen">
                    <img src="https://tvline.com/wp-content/uploads/2022/04/halo-1x03-makee.jpg?w=300"/>
                </div>

                <div class="my-event-content">
                    <h2>HOLA BABY</h2>
                    <div>17/06/22 en Curicó</div>
                    <div><small>FAMILIAR</small></div>
                </div>
                <div class="my-event-estado">
                    <span class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-warning bg-warning bg-opacity-10 border border-warning border-opacity-10 rounded-2">
                        PENDIENTE
                    </span>
                </div>
                <div class="my-event-boton">
                    <button type="button" class="btn my-btn-action"><i class="material-icons">info</i></button>
                    <button type="button" class="btn my-btn-action"><i class="material-icons">edit</i></button>
                    <button type="button" class="btn my-btn-action"><i class="material-icons">delete</i></button>
                    
                </div>
            </div>
            <div class="my-event">
                <div class="my-event-imagen">
                    <img src="https://tvline.com/wp-content/uploads/2022/04/halo-1x03-makee.jpg?w=300"/>
                </div>

                <div class="my-event-content">
                    <h2>HOLA BABY</h2>
                    <div>17/06/22 en Curicó</div>
                    <div><small>FAMILIAR</small></div>
                </div>
                <div class="my-event-estado">
                    <span class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-danger bg-danger bg-opacity-10 border border-danger border-opacity-10 rounded-2">
                        RECHAZADO
                    </span>
                </div>
                <div class="my-event-boton">
                    <button type="button" class="btn my-btn-action"><i class="material-icons">info</i></button>
                    <button type="button" class="btn my-btn-action"><i class="material-icons" disabled>edit</i></button>
                    <button type="button" class="btn my-btn-action"><i class="material-icons">delete</i></button>
                    
                </div>
            </div>
        </div>
    </div>
    <footer id="main-footer">Holi, Me Apunto</footer>
    <!-- JavaScript Bundle with Popper -->